:root {
  --background-primary: #141414;
  --background-secondary: #1c1c1c;
  --background-tertiary: #222;
  --text-primary: #e5e5e5;
  --accent-primary: #e50914;
  --stroke-color: #e50914;
  --header-h1-color: #ffffff;
  --section-title-color: #ffffff;
  --project-date-border: #e50914;
  --skills-tile-background: #1c1c1c;
  --language-background: #1c1c1c;
  --bar-expand-background: #e50914;
}
